@import "app-theme.scss";

.users {
  &-title {
    font-size: 28px;
    letter-spacing: 1px;
    opacity: 0.6;
  }

  &-table {
    width: 100%;

    & ::ng-deep {
      .mat-header-cell {
        color: $font-color;
      }

      .mat-row:hover {
        background-color: $theme-color;

        td, td a {
          color: $white;
        }
      }
    }
  }

  &-controls {
    margin: 16px 0;
  }

  &-button-label {
    padding-top: 4px;
    padding-left: 4px;
    display: inline-block;
  }
}
