@import "app-theme.scss";

.dialog {
  &-controls {
    margin: 16px 0 -12px 0;
    display: flex;
    justify-content: flex-end;
  }
}

.form {
  &-field {
    display: block;
  }

  &_loading {
    opacity: 0.3;
    pointer-events: none;
  }
}
