@import "app-theme.scss";

.users {
  &-title {
    font-size: 28px;
    letter-spacing: 1px;
    opacity: 0.6;
  }

  &-table {
    width: 100%;

    & ::ng-deep .mat-header-cell {
      color: $font-color;
    }
  }

  &-controls {
    margin-top: 16px;
  }

  &-button-label {
    padding-top: 4px;
    padding-left: 4px;
    display: inline-block;
  }
}
